:root {
  --main-font: 'Roboto', Arial, Helvetica, sans-serif;
  --secondary-font: 'Open Sans', Arial, Helvetica, sans-serif;
  --main-fcolor: rgb(85, 82, 82);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  width: 1110px;
  font-family: var(--main-font);
  color: var(--main-fcolor);
  letter-spacing: -0.02em;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  /* display: block; */
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.067;
}

.logo::first-letter {
  color: rgb(26, 188, 156);
}

.head-nav {
  display: flex;
  align-items: center;
  /* 38px - (32px -22px)/2 = 33px */
  margin-top: 33px;
  margin-bottom: 90px;
}

.head-nav .list {
  font-family: var(--secondary-font);
  display: flex;
  margin-left: auto;
}

.head-nav .item {
  font-size: 14px;
  color: rgb(15, 1, 1);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.786;
}

.head-nav .list .link:hover,
.head-nav .list .link:focus {
  color: rgb(26, 188, 156);
}

.head-nav .item:nth-child(1) {
  margin-right: 35px;
}

.head-nav .item:nth-child(2) {
  margin-right: 38px;
}

.head-nav .item:nth-child(3) {
  margin-right: 30px;
}

.head-nav .item:nth-child(4) {
  margin-right: 28px;
}

.head-nav .item:nth-child(5) {
  margin-right: 35px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .title {
  display: inline-block;
  font-size: 48px;
  font-family: 'Roboto';
  font-weight: 900;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  margin: 0;
  padding: 0;
  margin-bottom: 118px;
}

.gallery .list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.gallery .item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  height: 325px;
  flex-basis: 255px;
  background-color: rgb(233, 240, 253);
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery .item:nth-child(4n) {
  margin-right: 0;
}

.gallery .item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.gallery .item:hover .product {
  background-color: rgb(26, 188, 156);
}

.gallery .item:hover .price {
  background: rgb(127, 217, 199);
}

.gallery .label {
  display: flex;
  width: 255px;
  height: 40px;
  /* justify-content: space-between; */
  /* align-items: center; */
}
.gallery .product {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  flex-basis: 200px;
  /* flex-grow: 0; */
  background-color: rgb(50, 50, 50);
  padding: 0;
  margin: 0;
}

.gallery .price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  line-height: 1.778;
  flex-basis: 55px;
  /* flex-grow: 0; */
  background-color: rgb(140, 140, 140);
  padding: 0;
  margin: 0;
}

.blog .title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.667;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 100px;
}

.blog .list {
  display: flex;
  flex-wrap: wrap;
}

.blog .item {
  flex-basis: calc(33% - 21px);
  margin-right: 32px;
}

.blog .item:last-child {
  margin-right: 0;
}

.blog .topic {
  font-size: 18px;
  font-family: var(--secondary-font);
  line-height: 1.444;
  font-weight: 600;
  padding: 0;
  margin: 0;
  /* 18px - (26-10)/2 = 11px */
  margin-top: 11px;
  /* 50px - (26px - 10px)/2 - (26px -8px)/2 = 34px */
  margin-bottom: 34px;
}

.blog .text {
  font-size: 14px;
  line-height: 1.857;
  font-family: var(--secondary-font);
  margin: 0;
  padding: 0;
}

.blog .link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.625;
  border: 1px solid rgb(78, 198, 171);
  border-radius: 5px;
  background-color: rgb(78, 198, 171);
  height: 50px;
  width: 160px;
  margin-top: 11px;
  margin-bottom: 80px;
}
